<%= javascript_tag do %>

    start_simple_item_polling()

<% end %>

<h1>Simple Item Collection:</h1>

<div class='list'>
  <ul class='simple_item_list'>
    <%= render :partial => 'simple_item', :collection => @simple_item_collection.simple_items %>
  </ul>
</div>

<div class='actions'>
  <ul>
    <li><%= link_to 'Add Item', add_item_simple_item_collections_path, :remote => true %></li>
    <li><%= link_to 'Remove Item', remove_item_simple_item_collections_path, :remote => true %></li>
  </ul>
</div>